In [1]:
from datetime import datetime
a = datetime.now()
a

datetime.datetime(2019, 3, 15, 17, 14, 32, 388832)

In [2]:
a.year, a.month, a.day

(2019, 3, 15)

In [3]:
delta = datetime(2019, 1, 7) - datetime(2017, 6, 1, 8, 15)

In [4]:
delta

datetime.timedelta(days=584, seconds=56700)

In [5]:
delta.days

584

In [6]:
from datetime import timedelta
start = datetime(2019, 3, 15)
start

datetime.datetime(2019, 3, 15, 0, 0)

In [7]:
start + timedelta(19)

datetime.datetime(2019, 4, 3, 0, 0)

In [8]:
stamp = datetime(2019, 3, 13)
str(stamp)

'2019-03-13 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')

'2019-03-13'

In [10]:
from dateutil.parser import parse
parse('2019-03-13')

datetime.datetime(2019, 3, 13, 0, 0)

In [12]:
import pandas as pd
datestrs = ['2019-03-16 12:00:00', '2019-03-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2019-03-16 12:00:00', '2019-03-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [14]:
import numpy as np
from datetime import datetime
dates = [datetime(2019, 1, 2), datetime(2019, 1, 5),datetime(2019, 1, 7), datetime(2019, 1, 8),datetime(2019, 1, 10), datetime(2019, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2019-01-02   -0.794948
2019-01-05    0.743266
2019-01-07   -1.643607
2019-01-08   -0.409216
2019-01-10    1.419746
2019-01-12    0.588310
dtype: float64

In [15]:
ts.index

DatetimeIndex(['2019-01-02', '2019-01-05', '2019-01-07', '2019-01-08',
               '2019-01-10', '2019-01-12'],
              dtype='datetime64[ns]', freq=None)

In [16]:
ts + ts[::1]

2019-01-02   -1.589897
2019-01-05    1.486532
2019-01-07   -3.287214
2019-01-08   -0.818431
2019-01-10    2.839492
2019-01-12    1.176620
dtype: float64

In [17]:
ts + ts[::2]

2019-01-02   -1.589897
2019-01-05         NaN
2019-01-07   -3.287214
2019-01-08         NaN
2019-01-10    2.839492
2019-01-12         NaN
dtype: float64

In [20]:
stamp = ts.index[3]
stamp

Timestamp('2019-01-08 00:00:00')

In [22]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2018',periods=1000))
longer_ts

2018-01-01    0.542147
2018-01-02   -1.048157
2018-01-03    0.301109
2018-01-04    0.912465
2018-01-05    0.615289
2018-01-06    0.659488
2018-01-07   -0.613227
2018-01-08   -0.071206
2018-01-09   -1.531993
2018-01-10    1.457311
2018-01-11    0.544951
2018-01-12   -0.036366
2018-01-13   -0.453469
2018-01-14   -0.230575
2018-01-15   -0.744355
2018-01-16    2.147007
2018-01-17   -0.138139
2018-01-18   -0.864192
2018-01-19    1.265246
2018-01-20   -1.054136
2018-01-21    0.848348
2018-01-22   -1.249933
2018-01-23   -0.222501
2018-01-24   -2.150169
2018-01-25    0.576439
2018-01-26   -0.435000
2018-01-27   -0.185170
2018-01-28   -1.043189
2018-01-29   -1.055749
2018-01-30    0.249896
                ...
2020-08-28    0.618349
2020-08-29    1.378231
2020-08-30   -0.918218
2020-08-31    2.763924
2020-09-01    0.243588
2020-09-02    1.001422
2020-09-03    0.971621
2020-09-04   -0.924144
2020-09-05    0.451736
2020-09-06   -0.545303
2020-09-07    0.680769
2020-09-08   -0.773390
2020-09-09   -0.670940
2020-09-10   -2.962688
2020-09-11    1.458865
2020-09-12   -0.759868
2020-09-13   -0.422348
2020-09-14    2.260437
2020-09-15   -1.012936
2020-09-16    0.138408
2020-09-17   -0.063298
2020-09-18   -0.920618
2020-09-19   -0.417166
2020-09-20   -0.204334
2020-09-21    0.418989
2020-09-22   -0.119617
2020-09-23    0.859033
2020-09-24   -1.440558
2020-09-25    0.188167
2020-09-26    0.506751
Freq: D, Length: 1000, dtype: float64

In [27]:
longer_ts['2019']

2019-01-01    0.058337
2019-01-02   -0.337783
2019-01-03    0.626134
2019-01-04   -0.962105
2019-01-05   -0.098629
2019-01-06    0.599403
2019-01-07   -0.699509
2019-01-08    0.490148
2019-01-09   -0.478940
2019-01-10   -0.921777
2019-01-11   -0.493722
2019-01-12    0.679046
2019-01-13   -0.353221
2019-01-14    0.338348
2019-01-15    0.764940
2019-01-16    0.209673
2019-01-17    0.826575
2019-01-18   -0.227927
2019-01-19   -1.505942
2019-01-20   -2.443425
2019-01-21   -1.600377
2019-01-22   -0.235516
2019-01-23   -0.732176
2019-01-24   -0.527903
2019-01-25    0.098846
2019-01-26   -0.495817
2019-01-27   -1.381903
2019-01-28    1.484135
2019-01-29   -0.067214
2019-01-30    1.223040
                ...
2019-12-02   -0.270338
2019-12-03   -0.383555
2019-12-04    1.148447
2019-12-05    1.352203
2019-12-06    1.107074
2019-12-07    0.248929
2019-12-08    1.781472
2019-12-09   -1.264443
2019-12-10   -1.176192
2019-12-11    0.270575
2019-12-12   -0.481333
2019-12-13    0.815665
2019-12-14   -2.624271
2019-12-15   -0.419138
2019-12-16    0.607013
2019-12-17   -1.484463
2019-12-18    0.610802
2019-12-19    1.141414
2019-12-20    1.523058
2019-12-21   -1.263767
2019-12-22    0.529024
2019-12-23    0.138574
2019-12-24   -0.538829
2019-12-25   -1.154447
2019-12-26    1.196240
2019-12-27   -0.631781
2019-12-28   -0.895439
2019-12-29    1.241613
2019-12-30   -0.966643
2019-12-31    1.314750
Freq: D, Length: 365, dtype: float64

In [28]:
ts[datetime(2018, 1, 7):]

2019-01-02   -0.794948
2019-01-05    0.743266
2019-01-07   -1.643607
2019-01-08   -0.409216
2019-01-10    1.419746
2019-01-12    0.588310
dtype: float64

In [29]:
ts.truncate(after='1/9/2011')

Series([], dtype: float64)

In [30]:
dates = pd.DatetimeIndex(['1/1/2019', '1/2/2019','1/2/2019','1/2/2019', '1/3/2019'])
dup_ts = pd.Series(np.arange(5), index=dates)

In [31]:
dup_ts

2019-01-01    0
2019-01-02    1
2019-01-02    2
2019-01-02    3
2019-01-03    4
dtype: int32

In [32]:
index = pd.date_range('2018-04-01', '2018-12-01')
index

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10',
               ...
               '2018-11-22', '2018-11-23', '2018-11-24', '2018-11-25',
               '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29',
               '2018-11-30', '2018-12-01'],
              dtype='datetime64[ns]', length=245, freq='D')

In [34]:
pd.date_range(start='2019-02-01', periods=20)

DatetimeIndex(['2019-02-01', '2019-02-02', '2019-02-03', '2019-02-04',
               '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08',
               '2019-02-09', '2019-02-10', '2019-02-11', '2019-02-12',
               '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-16',
               '2019-02-17', '2019-02-18', '2019-02-19', '2019-02-20'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range(end='2019-06-01', periods=20)

DatetimeIndex(['2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16',
               '2019-05-17', '2019-05-18', '2019-05-19', '2019-05-20',
               '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24',
               '2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01'],
              dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range('2019-05-02 12:56:31', periods=5)

DatetimeIndex(['2019-05-02 12:56:31', '2019-05-03 12:56:31',
               '2019-05-04 12:56:31', '2019-05-05 12:56:31',
               '2019-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [37]:
 pd.date_range('2019-05-02 12:56:31', periods=5,normalize=True)

DatetimeIndex(['2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',
               '2019-05-06'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range('2019-01-01', '2019-01-03 23:59', freq='4h')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 04:00:00',
               '2019-01-01 08:00:00', '2019-01-01 12:00:00',
               '2019-01-01 16:00:00', '2019-01-01 20:00:00',
               '2019-01-02 00:00:00', '2019-01-02 04:00:00',
               '2019-01-02 08:00:00', '2019-01-02 12:00:00',
               '2019-01-02 16:00:00', '2019-01-02 20:00:00',
               '2019-01-03 00:00:00', '2019-01-03 04:00:00',
               '2019-01-03 08:00:00', '2019-01-03 12:00:00',
               '2019-01-03 16:00:00', '2019-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [40]:
pd.date_range('2019-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:30:00',
               '2019-01-01 03:00:00', '2019-01-01 04:30:00',
               '2019-01-01 06:00:00', '2019-01-01 07:30:00',
               '2019-01-01 09:00:00', '2019-01-01 10:30:00',
               '2019-01-01 12:00:00', '2019-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [41]:
rng = pd.date_range('2019-01-01', '2019-07-21', freq='WOM-3FRI')

In [42]:
rng

DatetimeIndex(['2019-01-18', '2019-02-15', '2019-03-15', '2019-04-19',
               '2019-05-17', '2019-06-21', '2019-07-19'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [43]:
list(rng)

[Timestamp('2019-01-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-02-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-03-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-04-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-05-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-06-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2019-07-19 00:00:00', freq='WOM-3FRI')]

In [44]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2019', periods=4,freq='M'))
ts

2019-01-31   -1.517142
2019-02-28    0.385790
2019-03-31    0.657635
2019-04-30   -1.206228
Freq: M, dtype: float64

In [46]:
from pandas.tseries.offsets import Day, MonthEnd
a = datetime(2019, 7, 17)
a + 3 * Day()

Timestamp('2019-07-20 00:00:00')

In [48]:
offset = MonthEnd()
offset.rollforward(a)

Timestamp('2019-07-31 00:00:00')

In [50]:
ts = pd.Series(np.random.randn(10),index=pd.date_range('1/15/2019', periods=10,freq='4d'))

In [51]:
ts

2019-01-15   -1.298378
2019-01-19    1.093769
2019-01-23    2.339627
2019-01-27    0.549699
2019-01-31    0.290286
2019-02-04   -1.668153
2019-02-08   -0.080688
2019-02-12   -0.826874
2019-02-16    1.063233
2019-02-20    0.525511
Freq: 4D, dtype: float64

In [52]:
ts.resample('M').mean()

2019-01-31    0.595001
2019-02-28   -0.197394
Freq: M, dtype: float64

In [54]:
import pytz
pytz.common_timezones[-3:]

['US/Mountain', 'US/Pacific', 'UTC']

In [55]:
tz = pytz.timezone('America/New_York')

In [56]:
tz

In [58]:
rng = pd.date_range('12/9/2018 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2018-12-09 09:30:00   -0.944501
2018-12-10 09:30:00   -0.381581
2018-12-11 09:30:00    1.479147
2018-12-12 09:30:00   -1.249902
2018-12-13 09:30:00   -1.454517
2018-12-14 09:30:00    0.676602
Freq: D, dtype: float64

In [59]:
pd.date_range('12/9/2018 9:30', periods=16, freq='D',tz='UTC')

DatetimeIndex(['2018-12-09 09:30:00+00:00', '2018-12-10 09:30:00+00:00',
               '2018-12-11 09:30:00+00:00', '2018-12-12 09:30:00+00:00',
               '2018-12-13 09:30:00+00:00', '2018-12-14 09:30:00+00:00',
               '2018-12-15 09:30:00+00:00', '2018-12-16 09:30:00+00:00',
               '2018-12-17 09:30:00+00:00', '2018-12-18 09:30:00+00:00',
               '2018-12-19 09:30:00+00:00', '2018-12-20 09:30:00+00:00',
               '2018-12-21 09:30:00+00:00', '2018-12-22 09:30:00+00:00',
               '2018-12-23 09:30:00+00:00', '2018-12-24 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [60]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2018-12-09 09:30:00+00:00   -0.944501
2018-12-10 09:30:00+00:00   -0.381581
2018-12-11 09:30:00+00:00    1.479147
2018-12-12 09:30:00+00:00   -1.249902
2018-12-13 09:30:00+00:00   -1.454517
2018-12-14 09:30:00+00:00    0.676602
Freq: D, dtype: float64

In [61]:
ts_utc.index

DatetimeIndex(['2018-12-09 09:30:00+00:00', '2018-12-10 09:30:00+00:00',
               '2018-12-11 09:30:00+00:00', '2018-12-12 09:30:00+00:00',
               '2018-12-13 09:30:00+00:00', '2018-12-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [63]:
ts_utc.tz_convert('America/New_York')

2018-12-09 04:30:00-05:00   -0.944501
2018-12-10 04:30:00-05:00   -0.381581
2018-12-11 04:30:00-05:00    1.479147
2018-12-12 04:30:00-05:00   -1.249902
2018-12-13 04:30:00-05:00   -1.454517
2018-12-14 04:30:00-05:00    0.676602
Freq: D, dtype: float64

In [64]:
stamp = pd.Timestamp('2019-07-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2019-07-12 00:00:00-0400', tz='America/New_York')

In [67]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2019-07-12 01:30', tz='US/Eastern')
stamp

Timestamp('2019-07-12 01:30:00-0400', tz='US/Eastern')

In [68]:
p = pd.Period(2017, freq='A-DEC')
p

Period('2017', 'A-DEC')

In [70]:
rng = pd.period_range('2019-01-01', '2019-06-30', freq='M')
rng

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'], dtype='period[M]', freq='M')

In [71]:
pd.Series(np.random.randn(6), index=rng)

2019-01   -1.808692
2019-02    0.534100
2019-03    1.334920
2019-04   -0.281801
2019-05   -0.614188
2019-06   -0.411830
Freq: M, dtype: float64

In [72]:
p = pd.Period('2019', freq='A-DEC')
p.asfreq('M', how='start')

Period('2019-01', 'M')

In [73]:
p.asfreq('M', 'end')

Period('2019-12', 'M')

In [75]:
p = pd.Period('2019Q4', freq='Q-DEC')
p.asfreq('D', 'start')

Period('2019-10-01', 'D')

In [76]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2019-12-30 16:00', 'T')

In [77]:
rng = pd.period_range('2017Q3', '2019Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2017Q3    0
2017Q4    1
2018Q1    2
2018Q2    3
2018Q3    4
2018Q4    5
2019Q1    6
2019Q2    7
2019Q3    8
2019Q4    9
Freq: Q-JAN, dtype: int32

In [78]:
rng = pd.date_range('2019-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2019-01-31    0.514976
2019-02-28    0.440286
2019-03-31   -0.316584
Freq: M, dtype: float64

In [79]:
rng = pd.date_range('1/29/2019', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2019-01-29    1.567456
2019-01-30   -0.623543
2019-01-31    0.481289
2019-02-01   -0.983166
2019-02-02   -0.093282
2019-02-03    0.795746
Freq: D, dtype: float64

In [81]:
rng = pd.date_range('2019-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2019-01-01    0.620787
2019-01-02    0.582018
2019-01-03    0.591486
2019-01-04   -0.394990
2019-01-05    1.045016
2019-01-06    0.349214
2019-01-07   -1.371176
2019-01-08    0.468202
2019-01-09    1.114767
2019-01-10   -0.713333
2019-01-11    0.113568
2019-01-12   -1.131306
2019-01-13   -1.858581
2019-01-14    0.295153
2019-01-15   -0.057924
2019-01-16   -0.504395
2019-01-17   -1.295749
2019-01-18   -0.805837
2019-01-19    1.119586
2019-01-20    0.924989
2019-01-21   -0.466358
2019-01-22   -0.163635
2019-01-23    1.257801
2019-01-24   -0.335490
2019-01-25   -0.667925
2019-01-26    0.791140
2019-01-27   -0.606873
2019-01-28    0.527621
2019-01-29   -2.736557
2019-01-30    0.456716
                ...
2019-03-12   -1.179651
2019-03-13    0.799441
2019-03-14   -1.113557
2019-03-15   -0.574078
2019-03-16    0.740340
2019-03-17   -0.834709
2019-03-18    0.943933
2019-03-19    0.669218
2019-03-20   -2.234150
2019-03-21    0.179997
2019-03-22    0.556572
2019-03-23    0.220019
2019-03-24    0.639822
2019-03-25    0.267094
2019-03-26   -1.688356
2019-03-27   -0.076598
2019-03-28   -1.219223
2019-03-29   -2.311465
2019-03-30    1.015995
2019-03-31    0.571426
2019-04-01    0.295878
2019-04-02   -0.526684
2019-04-03    0.357981
2019-04-04   -1.426808
2019-04-05   -2.738399
2019-04-06    1.216219
2019-04-07   -2.440356
2019-04-08   -0.761533
2019-04-09    1.178915
2019-04-10   -0.269716
Freq: D, Length: 100, dtype: float64

In [82]:
ts.resample('M').mean()

2019-01-31   -0.170122
2019-02-28    0.103364
2019-03-31    0.012464
2019-04-30   -0.511450
Freq: M, dtype: float64

In [83]:
ts.resample('M', kind='period').mean()

2019-01   -0.170122
2019-02    0.103364
2019-03    0.012464
2019-04   -0.511450
Freq: M, dtype: float64

In [85]:
rng = pd.date_range('2019-09-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2019-09-01 00:00:00     0
2019-09-01 00:01:00     1
2019-09-01 00:02:00     2
2019-09-01 00:03:00     3
2019-09-01 00:04:00     4
2019-09-01 00:05:00     5
2019-09-01 00:06:00     6
2019-09-01 00:07:00     7
2019-09-01 00:08:00     8
2019-09-01 00:09:00     9
2019-09-01 00:10:00    10
2019-09-01 00:11:00    11
Freq: T, dtype: int32

In [86]:
ts.resample('5min', closed='right').sum()

2019-08-31 23:55:00     0
2019-09-01 00:00:00    15
2019-09-01 00:05:00    40
2019-09-01 00:10:00    11
Freq: 5T, dtype: int32

In [87]:
ts.resample('5min', closed='right').sum()

2019-08-31 23:55:00     0
2019-09-01 00:00:00    15
2019-09-01 00:05:00    40
2019-09-01 00:10:00    11
Freq: 5T, dtype: int32

In [89]:
ts.resample('25min', closed='right', label='right').sum()

2019-09-01 00:00:00     0
2019-09-01 00:25:00    66
Freq: 25T, dtype: int32

In [90]:
ts.resample('5min', closed='right',label='right', loffset='-1s').sum()

2019-08-31 23:59:59     0
2019-09-01 00:04:59    15
2019-09-01 00:09:59    40
2019-09-01 00:14:59    11
Freq: 5T, dtype: int32

In [93]:
ts.resample('8min').ohlc()

                     open  high  low  close
2019-09-01 00:00:00     0     7    0      7
2019-09-01 00:08:00     8    11    8     11

In [94]:
frame = pd.DataFrame(np.random.randn(2, 4),index=pd.date_range('1/1/2019',
periods=2,freq='W-WED'),columns=['YRTR', 'FREVREVER', 'YHRY', 'OTRE'])

In [95]:
frame

                YRTR  FREVREVER      YHRY      OTRE
2019-01-02 -0.703084   0.715885 -0.069288  0.434564
2019-01-09 -0.804243   0.732990  0.684027 -1.272716

In [96]:
df_daily = frame.resample('D').asfreq()

In [97]:
df_daily

                YRTR  FREVREVER      YHRY      OTRE
2019-01-02 -0.703084   0.715885 -0.069288  0.434564
2019-01-03       NaN        NaN       NaN       NaN
2019-01-04       NaN        NaN       NaN       NaN
2019-01-05       NaN        NaN       NaN       NaN
2019-01-06       NaN        NaN       NaN       NaN
2019-01-07       NaN        NaN       NaN       NaN
2019-01-08       NaN        NaN       NaN       NaN
2019-01-09 -0.804243   0.732990  0.684027 -1.272716

In [98]:
frame.resample('D').ffill()

                YRTR  FREVREVER      YHRY      OTRE
2019-01-02 -0.703084   0.715885 -0.069288  0.434564
2019-01-03 -0.703084   0.715885 -0.069288  0.434564
2019-01-04 -0.703084   0.715885 -0.069288  0.434564
2019-01-05 -0.703084   0.715885 -0.069288  0.434564
2019-01-06 -0.703084   0.715885 -0.069288  0.434564
2019-01-07 -0.703084   0.715885 -0.069288  0.434564
2019-01-08 -0.703084   0.715885 -0.069288  0.434564
2019-01-09 -0.804243   0.732990  0.684027 -1.272716

In [99]:
frame.resample('D').ffill(limit=2)

                YRTR  FREVREVER      YHRY      OTRE
2019-01-02 -0.703084   0.715885 -0.069288  0.434564
2019-01-03 -0.703084   0.715885 -0.069288  0.434564
2019-01-04 -0.703084   0.715885 -0.069288  0.434564
2019-01-05       NaN        NaN       NaN       NaN
2019-01-06       NaN        NaN       NaN       NaN
2019-01-07       NaN        NaN       NaN       NaN
2019-01-08       NaN        NaN       NaN       NaN
2019-01-09 -0.804243   0.732990  0.684027 -1.272716

In [102]:
import numpy as np; import pandas as pd
values = pd.Series(['pie', 'orange', 'yello', 'yello'] * 2)
values

0       pie
1    orange
2     yello
3     yello
4       pie
5    orange
6     yello
7     yello
dtype: object

In [103]:
pd.value_counts(values)

yello     4
pie       2
orange    2
dtype: int64

In [104]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['pie', 'orange'])
dim

0       pie
1    orange
dtype: object

In [105]:
dim.take(values)

0       pie
1    orange
0       pie
0       pie
0       pie
1    orange
0       pie
0       pie
dtype: object

In [106]:
color = ['white', 'orange', 'red', 'red'] * 2

In [107]:
N = len(color)
df = pd.DataFrame({'color': color,'basket_id': np.arange(N),'count': np.random.randint(3, 15,
size=N), 'weight': np.random.uniform(0, 4,size=N)},columns=['basket_id', 'color', 'count','weight'])

In [108]:
df

   basket_id   color  count    weight
0          0   white     10  0.839350
1          1  orange     13  2.327099
2          2     red     11  1.417809
3          3     red     14  2.874619
4          4   white      6  2.546784
5          5  orange     12  1.051692
6          6     red     14  1.847714
7          7     red     10  2.796462

In [110]:
color_cat = df['color'].astype('category')
c = color_cat.values
c.categories

Index(['orange', 'red', 'white'], dtype='object')

In [111]:
c.codes

array([2, 0, 1, 1, 2, 0, 1, 1], dtype=int8)

In [112]:
my_categories = pd.Categorical(['bbb', 'aaa', 'dsfefez', 'bbb','aaa'])
my_categories

[bbb, aaa, dsfefez, bbb, aaa]
Categories (3, object): [aaa, bbb, dsfefez]

In [115]:
categories = ['bbb', 'dsfefez', 'aaa']
codes = [0, 1, 2, 0, 0, 1]
ordered_cat = pd.Categorical.from_codes(codes, categories,ordered=True)
ordered_cat

[bbb, dsfefez, aaa, bbb, bbb, dsfefez]
Categories (3, object): [bbb < dsfefez < aaa]

In [116]:
np.random.seed(12345)
draws = np.random.randn(1000)
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [117]:
bins = pd.qcut(draws, 4)
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

In [118]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [119]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [120]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [122]:
df = pd.DataFrame({'key': ['x', 'y', 'z'] * 4,'value': np.arange(12.)})
df

   key  value
0    x    0.0
1    y    1.0
2    z    2.0
3    x    3.0
4    y    4.0
5    z    5.0
6    x    6.0
7    y    7.0
8    z    8.0
9    x    9.0
10   y   10.0
11   z   11.0

In [123]:
g = df.groupby('key').value
g.mean()

key
x    4.5
y    5.5
z    6.5
Name: value, dtype: float64

In [124]:
g.transform(lambda x: x * 2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

In [125]:
normalized = (df['value'] - g.transform('mean')) /g.transform('std')
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [127]:
N=20
times = pd.date_range('2019-04-12 00:00', freq='1min',periods=N)
df = pd.DataFrame({'time': times,'value': np.arange(N)})
df

                  time  value
0  2019-04-12 00:00:00      0
1  2019-04-12 00:01:00      1
2  2019-04-12 00:02:00      2
3  2019-04-12 00:03:00      3
4  2019-04-12 00:04:00      4
5  2019-04-12 00:05:00      5
6  2019-04-12 00:06:00      6
7  2019-04-12 00:07:00      7
8  2019-04-12 00:08:00      8
9  2019-04-12 00:09:00      9
10 2019-04-12 00:10:00     10
11 2019-04-12 00:11:00     11
12 2019-04-12 00:12:00     12
13 2019-04-12 00:13:00     13
14 2019-04-12 00:14:00     14
15 2019-04-12 00:15:00     15
16 2019-04-12 00:16:00     16
17 2019-04-12 00:17:00     17
18 2019-04-12 00:18:00     18
19 2019-04-12 00:19:00     19

In [129]:
df2 = pd.DataFrame({'time': times.repeat(3),'key': np.tile(['a', 'b', 'c'], N),'value': np.arange(N * 3.)})

In [130]:
df2

                  time key  value
0  2019-04-12 00:00:00   a    0.0
1  2019-04-12 00:00:00   b    1.0
2  2019-04-12 00:00:00   c    2.0
3  2019-04-12 00:01:00   a    3.0
4  2019-04-12 00:01:00   b    4.0
5  2019-04-12 00:01:00   c    5.0
6  2019-04-12 00:02:00   a    6.0
7  2019-04-12 00:02:00   b    7.0
8  2019-04-12 00:02:00   c    8.0
9  2019-04-12 00:03:00   a    9.0
10 2019-04-12 00:03:00   b   10.0
11 2019-04-12 00:03:00   c   11.0
12 2019-04-12 00:04:00   a   12.0
13 2019-04-12 00:04:00   b   13.0
14 2019-04-12 00:04:00   c   14.0
15 2019-04-12 00:05:00   a   15.0
16 2019-04-12 00:05:00   b   16.0
17 2019-04-12 00:05:00   c   17.0
18 2019-04-12 00:06:00   a   18.0
19 2019-04-12 00:06:00   b   19.0
20 2019-04-12 00:06:00   c   20.0
21 2019-04-12 00:07:00   a   21.0
22 2019-04-12 00:07:00   b   22.0
23 2019-04-12 00:07:00   c   23.0
24 2019-04-12 00:08:00   a   24.0
25 2019-04-12 00:08:00   b   25.0
26 2019-04-12 00:08:00   c   26.0
27 2019-04-12 00:09:00   a   27.0
28 2019-04-12 00:09:00   b   28.0
29 2019-04-12 00:09:00   c   29.0
30 2019-04-12 00:10:00   a   30.0
31 2019-04-12 00:10:00   b   31.0
32 2019-04-12 00:10:00   c   32.0
33 2019-04-12 00:11:00   a   33.0
34 2019-04-12 00:11:00   b   34.0
35 2019-04-12 00:11:00   c   35.0
36 2019-04-12 00:12:00   a   36.0
37 2019-04-12 00:12:00   b   37.0
38 2019-04-12 00:12:00   c   38.0
39 2019-04-12 00:13:00   a   39.0
40 2019-04-12 00:13:00   b   40.0
41 2019-04-12 00:13:00   c   41.0
42 2019-04-12 00:14:00   a   42.0
43 2019-04-12 00:14:00   b   43.0
44 2019-04-12 00:14:00   c   44.0
45 2019-04-12 00:15:00   a   45.0
46 2019-04-12 00:15:00   b   46.0
47 2019-04-12 00:15:00   c   47.0
48 2019-04-12 00:16:00   a   48.0
49 2019-04-12 00:16:00   b   49.0
50 2019-04-12 00:16:00   c   50.0
51 2019-04-12 00:17:00   a   51.0
52 2019-04-12 00:17:00   b   52.0
53 2019-04-12 00:17:00   c   53.0
54 2019-04-12 00:18:00   a   54.0
55 2019-04-12 00:18:00   b   55.0
56 2019-04-12 00:18:00   c   56.0
57 2019-04-12 00:19:00   a   57.0
58 2019-04-12 00:19:00   b   58.0
59 2019-04-12 00:19:00   c   59.0